<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CompanyDB" connectionString="Server=localhost;Database=company;Uid=root;Pwd=password123" providerName="MySql.Data.MySqlClient"/>
		<add name="UsersDB" connectionString="Server=localhost;Database=users;Uid=root;Pwd=password123" providerName="MySql.Data.MySqlClient"/>
		<add name="CricketDB" connectionString="Server=localhost;Database=cricket;Uid=root;Pwd=password123" providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>